<table class="text-sm w-full text-left text-gray-500 container mx-auto">
  <thead class="text-xs font-bold text-gray-700 uppercase bg-blue-400">
    <tr>
      <th scope="col" class="py-3 px-6">
        支払い項目
      </th>
      <th scope="col" class="py-3 px-6">
        支払い者
      </th>
      <th scope="col" class="py-3 px-6">
        金額
      </th>
    </tr>
  </thead>
    <tbody>
      <% 5.times do %>
        <tr class="bg-blue-300">
            <th scope="row" class="py-4 px-6 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                Apple MacBook Pro 17"
            </th>
            <td class="py-4 px-6">
                John
            </td>
            <td class="py-4 px-6">
                $2999
            </td>
        </tr>
      <% end %>
    </tbody>
</table>
