<div class="p-6 max-w-sm bg-white rounded-lg shadow-md bg-blue-400">
  <span class="material-icons text-white">
    person_pin_circle
  </span>
  <a href="#">
    <h5 class="mb-2 text-2xl text-center font-semibold tracking-tight text-gray-900 dark:text-white">
      <span class='shadow-md shadow-transparent'><%= user.name %></span>
    </h5>
  </a>
  <p class="mb-3 font-normal text-white"><%= user.description %></p>
</div>
