<div class='w-full max-h-screen'>
  <div class='w-full h-[87vh] bg-gradient-to-r from-blue-100 via-blue-300 to-blue-500 rounded-t-[500px]'></div>
  <%= image_tag 'mypage.png', class: 'w-[450px] h-[500px] absolute top-4 left-4' %>
</div>
