<div class="w-screen h-[87vh] flex justify-center items-center bg-gradient-to-r from-blue-100 via-blue-300 to-blue-500 rounded-tl-full">
  <div>
    <div class='p-5'>
      <p class="font-bold font-italic pl-[40px] text-3xl">tutorial</p>
      <p class='font-thin text-xl pt-4 pl-[40px]'>wari palの使い方の一覧を載せた動画を作成しておりますのでご参照ください</p>
    </div>
    <div class='pl-[50px]'>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/xf9eLhExFZM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
